*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto Condensed",sans-serif;
}

.hide{
  display: none;
}

header{
  display: flex;
  justify-content: center;
  background-color: #2A7A96;
  height: 50px;
  color: white;
}

header ul{
  display: flex;
  align-items: center;
}

header ul li{
  list-style: none;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
}

h1{
  color: #507C7C;
  text-align: center;
  font-weight: lighter;
  padding: 50px;
}

.main-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container{
  width: 40%;
  height: 75%;
  background-color: #2a799625;
  position: relative;
}

.slider{
  width: 100%;
  height: 100%;
}

.btn{
  background-color: rgba(255, 255, 255, 0.403);
  font-size: 15px;
  border-radius: 50px ;
  padding: 8px;
  margin: 20px;
}

.btn-up{
  position: absolute;
  top: 0;
  right: 0;
}
.btn-down{
  position: absolute;
  right: 0;
  bottom: 0;
}

.sections-wrapper{
  width: 100%;
  height: 100%;
}

.section{
  width: 100%;
  height: 100%;
}


